<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Padres e Hijos y Documentos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarPadre" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Padres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarPadre">
          <a class="dropdown-item" routerLink="/padres">Padres</a>
          <a class="dropdown-item" routerLink="/padre-form">Nuevo Padre</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarHijo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hijos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarHijo">
          <a class="dropdown-item" routerLink="/hijos">Hijos</a>
          <a class="dropdown-item" routerLink="/hijo-form">Nuevo Hijo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDocumento" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Documentos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDocumento">
          <a class="dropdown-item" routerLink="/documentos">Documentos</a>
          <a class="dropdown-item" routerLink="/documento-form">Nuevo Documento</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
